@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;

  --scrollbar-color: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1); 
}

.dark{
  --background: #121212;
  --foreground: #ededed;
  
  --scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
}

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #F59E0B;
  --color-accent: #10B981;

  --color-background: #FFFFFF;
  --color-surface: #F9FAFB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;

  --color-success: #22C55E;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: var(--scrollbar-color); 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.animate-fadeIn{
  animation: fadeIn 0.3s ease-in-out both;
}

.animate-fadeInScale{
  animation: fadeInScale 0.3s ease-in-out both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}